.wapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  width: 100%;
  height: 100vh;
}

.title {
  font-size: 40px;
  color: red;
  font-weight: bold;

  margin: 0 12px 12px 0;
}

.inputUrl {
  height: 40px;
  width: 400px;
}

.btn {
  display: flex;
  margin: 16px auto;
  padding: 12px 16px;
  font-size: 24px;
  color: #ffff;
  background: green;
  border: none;
  border-radius: 8px;
}

/* css loading */

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #222;
  opacity: 0.8;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
100% {
  transform: rotate(360deg);
}
}


/*  */


html, body, #root, .App {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
}
/* Add background color to the body */
body {
  background-color: rgba(68, 70, 84, 1.0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

/* Remove border color from the response list container */
#response-list {
  border: none;
  overflow-y: auto;
  flex: 1;
}

.chatgpt-response {
  background-color: rgba(68, 70, 84, 1);
}

.my-question {
  background-color: rgba(52, 53, 65, 1);
}
/* Change background color of the input container */
#input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(64, 65, 79, 1);
  border-color: rgba(32,33,35,.5);
  border-radius: 5px;
  margin: 10px 200px;
}


/* Remove background color and add an SVG background for the submit button */
#submit-button {
  background: transparent url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='white' d='M2.01 21L23 12 2.01 3 2 10l15 2-15 2z'/></svg>") no-repeat center center;
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#regenerate-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

#regenerate-response-button {
  color: white;
  border: none;
  background: #10A37F;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.loading {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

#model-select-container {
  margin: 10px 200px;
  color: white;
}

#model-select-container select {
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

#model-select-container select option:not(:checked) {
  background: rgba(32,33,35,.8);
}

#model-select-container select option {
  background: rgba(32,33,35,.5);
}
